* {
    /* outline: 2px dotted #cc0000; */
    font-family:Arial, Helvetica, sans-serif;
    background-color: hsl(240, 2%, 80%);
}

body {
    padding: 10px 10px 10px 10px;
    border: 4px groove rgb(104, 104, 104);
    height: 100vh;
    margin: 3px;
    padding: 0;    
}

.logo, img { 
    width: 50px;
    margin: 0 auto;
    padding-top: 40px;
}

h1 {
    text-align: center;
    width: auto;
    margin: 0;
    color:rgb(219, 171, 50);
}

ul.recipes{
    display: inline;
    text-align: center;
    font-weight: 700;
    color: rgb(90, 90, 90);
}

li {
    margin: 10px;
}

.no-bullets {
    list-style-type: none;
}

.credit {
    font-size: 8px;
    color: gray;
    text-align: center;
}

html {
    border: 3px groove gray;
}

